{% extends "emails/email_base.html" %}
{% load static %}
{% load inlinecss %}
{% inlinecss "css/email/styles.css" %}
{% block header_text %}
    Hi, {{ user.full_name }}. Welcome to {{ app_name }}!
{% endblock header_text %}
{% block content %}
    <p class="intro">
        Your municipality, {{ user.assigned_municipality }}, has created an account for you on {{ app_name }}. Please use the following credentials to log in:
    </p>
    <p class="credentials body">
        <strong>Username:</strong> {{ user.username }}
        <br />
        <strong>Password:</strong> {{ password }}
        <br />
        {% if user.assigned_municipality.access_url %}
            <strong>Access URL:</strong> {{ user.assigned_municipality.access_url }}
        {% else %}
            Please contact your municipality office for the access URL.
        {% endif %}
    </p>
    <p class="closing">
        Thank You,
        <br />
        The {{ app_name }} Team
    </p>
{% endblock content %}
{% endinlinecss %}
