{% extends "project/malepa_format/common/report_base.html" %}
{% load custom_filters %}
{% block internal_css %}
    <style>
    @page {
    size: A4 landscape;
    margin: 5mm -1mm;
    }
    </style>
{% endblock internal_css %}
{% block body %}
    <table style="width: 100%;
                  border: 1px solid #ddd;
                  text-align: left;
                  border-collapse: collapse">
        <tr>
            <th rowspan="2" class="table_header">S No</th>
            <th rowspan="2" class="table_header">Description of Works</th>
            <th rowspan="2" class="table_header2">Unit</th>
            <th rowspan="2" class="table_header">Rate</th>
            <th colspan="3" class="table_header center">Description of Quantities</th>
            <th rowspan="2" class="table_header">Quantity</th>
            <th rowspan="2" class="table_header">Amount</th>
        </tr>
        <tr>
            <th class="table_header">Length</th>
            <th class="table_header">Breadth</th>
            <th class="table_header">Height</th>
        </tr>
        {% for row in data.topics %}
            <tr>
                <td class="table_row">{{ forloop.counter }}</td>
                <td class="table_row">{{ row.description }}</td>
                <td class="table_row">{{ row.unit }}</td>
                <td class="table_row">{{ row.rate|floatformat:-2 }}</td>
                <td class="table_row">{{ row.length|floatformat:-2 }}</td>
                <td class="table_row">{{ row.breadth|floatformat:-2 }}</td>
                <td class="table_row">{{ row.height|floatformat:-2 }}</td>
                <td class="table_row">{{ row.quantity|floatformat:-2 }}</td>
                <td class="table_row">{{ row.amount|floatformat:-2 }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="table_row right bold" colspan="2">Total Cost</td>
            <td class="table_row" colspan="7">{{ data.total_amount|floatformat:-2 }}</td>
        </tr>
    </table>
    <div>
        <div>
            Work Chart Staff Cost ({{ data.cost_estimate_calculations.work_chart_staff_cost.percentage }}%): {{ data.cost_estimate_calculations.work_chart_staff_cost.amount|floatformat:-2 }}
        </div>
        <div>
            Other Extra Cost ({{ data.cost_estimate_calculations.other_extra_cost.percentage }}%): {{ data.cost_estimate_calculations.other_extra_cost.amount|floatformat:-2 }}
        </div>
    </div>
{% endblock body %}
