[Unit]
Description=Janakpurdham PMS backend gunicorn

[Socket]
ListenStream=/run/pms_backend_gunicorn_rishingmun.sock

[Install]
WantedBy=sockets.target